<div class="container">
  <table class="table">
    <thead>
      <th>
      <h1>
        change-password
      </h1>

      </th>
      </thead>
      <tr>
        <td>
          email-id
        </td>

      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" [(ngModel)]='e_id'>
        </td>
      </tr>
      <tr>
        <td>
          old-password
        </td>

      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" [(ngModel)]='e_pass'>
        </td>
      </tr>
      <tr>
        <td>
          New-password
        </td>

      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" [(ngModel)]='e_npass'>
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-primary form-control" (click)='onchange()'>Change-password

          </button>
        </td>
      </tr>
  </table>
</div>
